.ticket{
    width:40%;
    margin-left:40%;
}

.tickettitle{
   font-size:20pt;
    color:#FF7417;
    padding-bottom:10%;
    padding-left:5%;
}
.ticketline{
   
    padding-bottom:10%;
    padding-left:5%;
}
.confirm{

    padding-left:5%;
}